

/*my html button*/
#menu{
	border: 0;
	border-radius: 5px;
	margin: 20px;
	padding: 5px;
	color: #8b0000;
	background-color: silver;
	position: fixed;
	transition: 0.5s ease;
	z-index: 999;
}


/*my button with a class of menu button, when the button is opened. when my page is refreshed my button is open (Brain)*/
#menu.menu-open{
	background-color: red;
	border: 2px solid yellow;
	color: blue;
}

/*my li class hidden but right now there only hidden when my button is open also having trouble getting li to appear (Brain)*/
.hidden{
	display: none;
}

/*my div id of menu2, styled when the button is open this changes take effect*/
#menu2{
	position: fixed;
	z-index: 998;
	background-color: gold;
	height: 100vh;
	width: 100vh;
	transform-origin: left;
	transition: 2s ease;

}
/*my ul effect changes when ubutton is open*/
#menu2 ul{
	list-style-type: none;
	padding:0;
}
/*when my button is open div and ul li take effect */
#menu2 ul li{
	padding:5px;
	font-size: 1.25rem;
}
/*when hovering over when div is open take effect on ul li also*/
#menu2 ul li:hover{
	text-decoration: underline;
}


#menu2.menu-collapsed{
	width: 0;
}



