#menu{
	border: 0;
	border-radius: 5px;
	margin: 20px;
	padding: 5px;
	color: #8b0000;
	background-color: silver;
	position: fixed;
	transition: 0.5s ease;
	z-index: 50;
}
#menu.menu-open{
	background-color: red;
	border: 2px solid yellow;
	color: pink;
}
#menu2{
	position: fixed;
	background-color: green;
	height: 100vh;
	width: 100vh;
	transform-origin: left;
	transition: 0.5s ease;
}
#menu2 ul{
	list-style-type: none;
	padding:0;
}
#menu2 ul li{
	padding:5px;
	font-size: 1.25rem;
}
#menu2 ul li:hover{
	text-decoration: underline;
}
#menu2.menu-collapsed{
	width: 0;
}
.hidden{
	display: none;
}


